nav#navbarEscape.navbar.navbar-escape.navbar-expand-lg.fixed-top.navbar-light.bg-light
  .container
    a.navbar-brand(href='#')
      strong menorca summer ballet gala
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarColor01' aria-controls='navbarColor01' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarColor01.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          +link('./', 'Home')(class="nav-link")
        li.nav-item
          +link('/seccion_01.html', 'Secci贸n 01')(class="nav-link")
        li.nav-item
          +link('/seccion_02.html', 'Secci贸n 02')(class="nav-link")
        li.nav-item
          +link('/seccion_03.html', 'Secci贸n 03')(class="nav-link")
        li.nav-item
          +link('/seccion_03.html', 'Secci贸n 04')(class="nav-link")